body{
    margin: 0;
    font-family: 'Bebas Neue';
}
.button{
    text-decoration: none;
    background-image: linear-gradient(45deg, orangered,tomato);
    box-shadow: 10px orangered;
    border-radius: 9px;
    padding: 15px 35px;
    color: white;
    font-size: 20px;
}
nav{
    font-size: 18px;
    padding-top: 3%;
    margin-right: 5%;
    text-align: right;
}
.font{
    font-size: 80px;
}
.name{
    color: #FF8367;
}
footer{
    text-align: center;
}